#root > div {
  position: absolute;
  width: 100%;
  height: 100%;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: url(Got_You_web.jpg);
  background-size: 100% 100%;
  overflow: hidden;
}

.contain {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.name {
  width: 100%;
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.laname {
  width: 89%;
  height: 67%;
}

.start {
  width: 35%;
  height: 19%;
  margin-top: 4%;
  font-size: 25px;
  text-align: center;
  background: #121111;
  opacity: 1;
  color: white;
  border-radius: 4px;
  margin-top: 0%;
}

.start a {
  text-decoration: none;
  color: white;
  padding: 0em 1em;
  font-size: 53px;
}

.start a:hover {
  font-size: 40px;
}

.logo {
  width: 100%;
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.revision {
  width: 30%;
  height: 65%;
}

.statement {
  width: 100%;
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.statement h1 {
  color: #eeebeb;
  font-size: 40px;
  text-shadow: 3px 3px #323131;
}

@media (min-width: 1024px) {
  body {
    width: 100vw;
    height: 100vh;
    background-image: url(/static/media/Got_You_web.ff7a6eba.jpg);
    background-size: 117% 100%;
    overflow: hidden;
  }
  .contain {
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .name {
    width: 100%;
    height: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .laname {
    width: 62%;
    height: 67%;
  }
  .start {
    width: 22%;
    height: 17%;
    margin-top: 4%;
    font-size: 25px;
    text-align: center;
    background: #121111;
    opacity: 1;
    color: white;
    border-radius: 4px;
    margin-top: 0%;
  }
  .start a {
    text-decoration: none;
    color: white;
    padding: 0em 1em;
    font-size: 53px;
  }
  .start a:hover {
    font-size: 40px;
  }
  .logo {
    width: 100%;
    height: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .revision {
    width: 54%;
    height: 50%;
  }
}

@media (min-width: 1280px) {
  body {
    width: 100vw;
    height: 100vh;
    background-image: url(/static/media/Got_You_web.ff7a6eba.jpg);
    background-size: 117% 100%;
    overflow: hidden;
  }
  .contain {
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .name {
    width: 100%;
    height: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .laname {
    width: 62%;
    height: 70%;
  }
  .start {
    width: 16%;
    height: 26%;
    margin-top: 4%;
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    background: #edac15;
    opacity: 1;
    color: #eeebeb;
    border-radius: 4px;
    border: 3px solid #323131;
    margin-top: 0%;
  }
  .start:hover {
    width: 17%;
    height: 27%;
    font-size: 47px;
    font-weight: bold;
    cursor: pointer;
  }
  .start:focus {
    outline: none;
  }
  .logo {
    width: 100%;
    height: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .revision {
    width: 12%;
    height: 100%;
  }
  .statement {
    width: 100%;
    height: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .statement h1 {
    color: #eeebeb;
    font-size: 50px;
    text-shadow: 3px 3px #323131;
  }
}
/*# sourceMappingURL=Landing.css.map */