#root > div {
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: "Merriweather", serif;
}
body {
  width: 100vw;
  height: 100vh;
  background-image: url(Got_You_web.jpg);
  background-size: 100% 100%;
  //   background-size: auto auto;
  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    display: none;
  }

  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 20px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  font-family: "Merriweather", serif;
}

.contain {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.name {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.laname {
  width: 89%;
  height: 67%;
}

.start {
  width: 35%;
  height: 19%;
  margin-top: 4%;
  font-size: 25px;
  text-align: center;
  background: rgb(237, 172, 21);
  opacity: 1;
  color: rgb(238, 235, 235);
  border-radius: 4px;
  font-family: "Merriweather", serif;
  margin-top: 0%;
}

.logo {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.revision {
  width: 30%;
  height: 65%;
}
.statement {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  h1 {
    color: rgb(238, 235, 235);
    font-size: 40px;
    text-shadow: 3px 3px rgb(50, 49, 49);
  }
}

@media (min-width: 1024px) {
  body {
    background-size: 117% 100%;
    overflow: hidden;
    .start {
      width: 23%;
      height: 25%;

      font-size: 48px;
    }
  }
  .statement {
    h1 {
      font-size: 78px;
    }
  }
  .laname {
    width: 78%;
    height: 68%;
  }
}
@media (min-width: 1280px) {
  body {
    background-size: 117% 100%;
    overflow: hidden;
    .start {
      width: 21%;
      height: 31%;
      margin-top: 4%;
      font-size: 48px;
      font-weight: bold;
      text-align: center;
      background: rgb(237, 172, 21);
      opacity: 1;
      color: rgb(238, 235, 235);
      border-radius: 4px;
      border: 3px solid rgb(50, 49, 49);

      margin-top: 0%;

      &:hover {
        width: 22%;
        height: 32%;
        font-size: 47px;
        font-weight: bold;
        cursor: pointer;
      }
      &:focus {
        outline: none;
      }
    }
  }
  .contain {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .name {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .laname {
    width: 62%;
    height: 76%;
  }

  .logo {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .revision {
    width: 12%;
    height: 100%;
  }
  .statement {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
      color: rgb(238, 235, 235);
      font-size: 65px;
      text-shadow: 3px 3px rgb(50, 49, 49);
    }
  }
}
