.cover {
  width: 100%;
  height: 90%;
  background: #202020;
  border-top: 0.5px solid white;
  border-bottom: 0.5px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cover .projects {
  width: 100%;
  height: 77%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (90%)[auto-fit];
      grid-template-columns: repeat(auto-fit, 90%);
  grid-column-gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-x: hidden;
  overflow-y: auto;
}

.cover .projects .pro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cover .projects .pro .timer-japan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin-top: 2%;
  border-top: 2px solid #20c953;
  border-bottom: 2px solid #20c953;
}

.cover .projects .pro .timer-japan h1 {
  color: #eeebeb;
  font-size: 48px;
  text-align: center;
}

.cover .projects .pro .timer-japan h1 .giti {
  width: 45px;
  height: 41px;
}

.cover .projects .pro .this-is-dev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin-top: 2%;
  border-top: 2px solid #153a4a;
  border-bottom: 2px solid #18333f;
}

.cover .projects .pro .this-is-dev h1 {
  color: #eeebeb;
  font-size: 25px;
  text-align: center;
}

.cover .projects .pro .this-is-dev h1 .site-link {
  text-decoration: none;
  color: #eeebeb;
}

.cover .projects .pro .this-is-dev h1 .site-link:hover {
  color: rgba(46, 129, 207, 0.2);
}

.cover .projects .pro .this-is-dev h1 .giti {
  width: 45px;
  height: 41px;
}

.cover .projects .pro .walk-talk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin-top: 2%;
  border-top: 2px solid white;
  border-bottom: 2px solid #47a8ff;
}

.cover .projects .pro .walk-talk h1 {
  color: #eeebeb;
  font-size: 51px;
  text-align: center;
}

.cover .projects .pro .walk-talk .giti {
  width: 45px;
  height: 41px;
}

.cover .projects .pro .song-star {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin-top: 2%;
  border-top: 2px solid #fde000;
  border-bottom: 2px solid #f2af00;
}

.cover .projects .pro .song-star h1 {
  color: #eeebeb;
  font-size: 44px;
  text-align: center;
}

.cover .projects .pro .song-star .giti {
  width: 45px;
  height: 41px;
}

.cover .projects .pro .headingKNM {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin-top: 2%;
  border-top: 2px solid red;
  border-bottom: 2px solid red;
}

.cover .projects .pro .headingKNM h1 {
  color: #eeebeb;
  font-size: 40px;
  text-align: center;
}

.cover .projects .pro .headingKNM h1 span {
  color: red;
}

.cover .projects .pro .headingKNM h1 .giti {
  width: 45px;
  height: 41px;
}

.cover .projects .pro p {
  display: block;
  color: #eeebeb;
  font-size: 20px;
  text-align: center;
}

.cover .projects .pro .more {
  font-size: 19px;
  text-align: center;
}

.cover .projects .pro .more h5 {
  color: white;
  margin-top: 2%;
  margin-bottom: 1%;
}

.cover .projects .pro .more h5:hover {
  font-size: 18px;
  cursor: pointer;
}

.cover .projects .pro .show {
  display: block;
  color: #eeebeb;
  font-size: 16px;
}

.cover .projects .pro .show .less {
  font-size: 16px;
  text-align: center;
}

.cover .projects .pro .show .less:hover {
  cursor: pointer;
  font-size: 18px;
}

.cover .projects .pro .hidden {
  display: none;
}

.cover .projects .pro .slideshow {
  width: 100%;
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10%;
}

.cover .projects .pro .slideshow .icon {
  color: white;
}

.cover .projects .pro .slideshow .arrows {
  width: 25%;
  height: 25%;
}

.cover .projects .pro .slideshow .web-still-container {
  width: 80%;
  height: 100%;
  background: black;
  opacity: 1;
}

.cover .projects .pro .slideshow .web-still-container img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.bot-mobleP {
  width: 80%;
  height: 10%;
  background: #202020;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bot-mobleP button {
  background: #202020;
  width: 100%;
  height: 100%;
  font-size: 30px;
  color: #eeebeb;
}

.bot-mobleP button:hover {
  cursor: pointer;
  color: #f1bb3b;
  background: #414040;
}

.logo-place {
  width: 100%;
  height: 11%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.logo-place .lo-go {
  width: 25%;
  height: 100%;
  margin-top: 0%;
}

.title {
  width: 100%;
  height: 11%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid white;
}

.title h1 {
  letter-spacing: 5px;
  color: #eeebeb;
  font-size: 41px;
  margin-bottom: 1%;
}

@media (min-width: 1024px) {
  .cover {
    width: 100%;
    height: 90%;
    background: #202020;
    border-top: 0.5px solid white;
    border-bottom: 0.5px solid white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cover .projects {
    width: 100%;
    height: 64%;
    overflow-x: hidden;
    overflow-y: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .cover .projects .pro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
  }
  .cover .projects .pro .headingKNM {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 60%;
    height: 25%;
    margin-top: 2%;
    border-top: 1px solid red;
    border-bottom: 1px solid red;
  }
  .cover .projects .pro .headingKNM h1 {
    color: #eeebeb;
    font-size: 75px;
  }
  .cover .projects .pro .headingKNM h1 span {
    color: red;
  }
  .cover .projects .pro p {
    display: none;
    color: #eeebeb;
    font-size: 40px;
  }
  .cover .projects .pro .slideshow {
    width: 100%;
    height: 44%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 0%;
  }
  .cover .projects .pro .slideshow .icon {
    color: white;
  }
  .cover .projects .pro .slideshow .arrows {
    display: none;
    width: 25%;
    height: 25%;
  }
  .cover .projects .pro .slideshow .web-still-container {
    background: white;
    width: 68%;
    height: 100%;
  }
  .cover .projects .pro .slideshow .web-still-container img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }
  .cover .but {
    width: 100%;
    height: 10%;
    display: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cover .but img {
    width: 76%;
    height: 10%;
  }
  .bot-mobleP {
    width: 100%;
    height: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .bot-mobleP button {
    background: #202020;
    width: 100%;
    height: 100%;
    font-size: 30px;
    color: #eeebeb;
  }
  .bot-mobleP button:hover {
    cursor: pointer;
    color: #f1bb3b;
    background: #414040;
  }
  .logo-place {
    width: 100%;
    height: 11%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .logo-place .lo-go {
    width: 25%;
    height: 100%;
    margin-top: 0%;
  }
  .title {
    width: 100%;
    height: 11%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 2px solid white;
  }
  .title h1 {
    letter-spacing: 5px;
    color: #eeebeb;
    font-size: 41px;
    margin-bottom: 1%;
  }
}

@media (min-width: 1280px) {
  .cover {
    width: 100%;
    height: 90%;
    background: #202020;
    border-top: 0.5px solid white;
    border-bottom: 0.5px solid white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cover .projects {
    width: 100%;
    height: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (30%)[auto-fit];
        grid-template-columns: repeat(auto-fit, 30%);
    grid-column-gap: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .cover .projects .pro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cover .projects .pro .headingKNM {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 14%;
    margin-top: 2%;
    border-top: 1px solid red;
    border-bottom: 1px solid red;
  }
  .cover .projects .pro .headingKNM h1 {
    color: #eeebeb;
    font-size: 40px;
  }
  .cover .projects .pro .headingKNM h1 span {
    color: red;
  }
  .cover .projects .pro p {
    display: block;
    color: #eeebeb;
    font-size: 40px;
  }
  .cover .projects .pro .slideshow {
    width: 100%;
    height: 34%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 5%;
  }
  .cover .projects .pro .slideshow .icon {
    color: white;
  }
  .cover .projects .pro .slideshow .arrows {
    width: 25%;
    height: 25%;
  }
  .cover .projects .pro .slideshow .web-still-container {
    width: 100%;
    height: 100%;
  }
  .cover .projects .pro .slideshow .web-still-container img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }
  .cover .but {
    width: 100%;
    height: 10%;
    display: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cover .but button {
    background: #202020;
    width: 100%;
    height: 100%;
    font-size: 30px;
    color: #eeebeb;
  }
  .cover .but button:hover {
    cursor: pointer;
    color: #f1bb3b;
    background: #414040;
  }
  .bot-mobleP {
    width: 80%;
    height: 10%;
    background: #202020;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .bot-mobleP button {
    background: #202020;
    width: 100%;
    height: 100%;
    font-size: 30px;
    color: #eeebeb;
  }
  .bot-mobleP button:hover {
    cursor: pointer;
    color: #f1bb3b;
    background: #414040;
  }
  .bot-mobleP .port-up {
    display: none;
  }
  .logo-place {
    width: 100%;
    height: 11%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .logo-place .lo-go {
    width: 12%;
    height: 100%;
    margin-top: 0%;
  }
  .title {
    width: 100%;
    height: 11%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 2px solid white;
  }
  .title h1 {
    letter-spacing: 5px;
    color: #eeebeb;
    font-size: 41px;
    margin-bottom: 1%;
  }
}

@media (min-width: 1360px) {
  .cover {
    width: 80%;
    height: 90%;
    background: #202020;
    border-top: 0.5px solid white;
    border-bottom: 0.5px solid white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cover .projects {
    width: 100%;
    height: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (30%)[auto-fit];
        grid-template-columns: repeat(auto-fit, 30%);
    grid-column-gap: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .cover .projects .pro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cover .projects .pro .timer-japan {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 87%;
    height: 14%;
    margin-top: 2%;
    border-top: 2px solid #20c953;
    border-bottom: 2px solid #20c953;
  }
  .cover .projects .pro .timer-japan h1 {
    color: #eeebeb;
    font-size: 40px;
  }
  .cover .projects .pro .timer-japan h1 img {
    width: 40px;
    height: 40px;
    margin-left: 10px;
  }
  .cover .projects .pro .timer-japan h1 img:hover {
    cursor: pointer;
  }
  .cover .projects .pro .this-is-dev {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 87%;
    height: 14%;
    margin-top: 2%;
    border-top: 2px solid #25aae1;
    border-bottom: 2px solid #25aae1;
  }
  .cover .projects .pro .this-is-dev h1 {
    color: #eeebeb;
    font-size: 35;
    text-align: center;
  }
  .cover .projects .pro .this-is-dev h1 img {
    width: 40px;
    height: 40px;
    margin-left: 10px;
  }
  .cover .projects .pro .this-is-dev h1 img:hover {
    cursor: pointer;
  }
  .cover .projects .pro .description-for-thisisdev {
    width: 88%;
    height: 28%;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .cover .projects .pro .description-for-kanjinme {
    width: 88%;
    height: 28%;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .cover .projects .pro .description-for-songStar {
    width: 88%;
    height: 28%;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .cover .projects .pro .description-for-totalk {
    width: 88%;
    height: 28%;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .cover .projects .pro .description-for-countdown-timer {
    width: 88%;
    height: 28%;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .cover .projects .pro .walk-talk {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 87%;
    height: 14%;
    margin-top: 2%;
    border-top: 2px solid white;
    border-bottom: 2px solid #47a8ff;
  }
  .cover .projects .pro .walk-talk h1 {
    color: #eeebeb;
    font-size: 40px;
  }
  .cover .projects .pro .walk-talk h1 img {
    width: 40px;
    height: 40px;
    margin-left: 10px;
  }
  .cover .projects .pro .walk-talk h1 img:hover {
    cursor: pointer;
  }
  .cover .projects .pro .song-star {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 87%;
    height: 14%;
    margin-top: 2%;
    border-top: 2px solid #fde000;
    border-bottom: 2px solid #f2af00;
  }
  .cover .projects .pro .song-star h1 {
    color: #eeebeb;
    font-size: 40px;
  }
  .cover .projects .pro .song-star h1 img {
    width: 40px;
    height: 40px;
    margin-left: 10px;
  }
  .cover .projects .pro .song-star h1 img:hover {
    cursor: pointer;
  }
  .cover .projects .pro .headingKNM {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 87%;
    height: 14%;
    margin-top: 2%;
    border-top: 2px solid red;
    border-bottom: 2px solid red;
  }
  .cover .projects .pro .headingKNM h1 {
    color: #eeebeb;
    font-size: 40px;
  }
  .cover .projects .pro .headingKNM h1 span {
    color: red;
  }
  .cover .projects .pro .headingKNM h1 img {
    width: 40px;
    height: 40px;
    margin-left: 10px;
  }
  .cover .projects .pro .headingKNM h1 img:hover {
    cursor: pointer;
  }
  .cover .projects .pro .more {
    font-size: 16px;
    text-align: center;
  }
  .cover .projects .pro .more h5 {
    margin-top: 2%;
    margin-bottom: 1%;
  }
  .cover .projects .pro .more h5:hover {
    font-size: 18px;
    cursor: pointer;
  }
  .cover .projects .pro .show {
    display: block;
    color: #eeebeb;
    font-size: 16px;
  }
  .cover .projects .pro .show .less {
    font-size: 16px;
    text-align: center;
  }
  .cover .projects .pro .show .less:hover {
    cursor: pointer;
    font-size: 18px;
  }
  .cover .projects .pro .hidden {
    display: none;
  }
  .cover .projects .pro .slideshow {
    width: 88%;
    height: 44%;
    background-color: black;
    opacity: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 5%;
  }
  .cover .projects .pro .slideshow .icon {
    color: white;
  }
  .cover .projects .pro .slideshow .arrows {
    width: 25%;
    height: 25%;
  }
  .cover .projects .pro .slideshow .web-still-container {
    width: 100%;
    height: 100%;
  }
  .cover .projects .pro .slideshow .web-still-container img {
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 0px 0px 0px black;
            box-shadow: 0px 0px 0px black;
    border-radius: 5px;
  }
  .cover .but {
    width: 100%;
    height: 10%;
    display: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cover .but button {
    background: #202020;
    width: 100%;
    height: 100%;
    font-size: 30px;
    color: #eeebeb;
  }
  .cover .but button:hover {
    cursor: pointer;
    color: #f1bb3b;
    background: #414040;
  }
  .bot-mobleP {
    width: 80%;
    height: 10%;
    background: #202020;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .bot-mobleP button {
    background: #202020;
    width: 100%;
    height: 100%;
    font-size: 30px;
    color: #eeebeb;
  }
  .bot-mobleP button:hover {
    cursor: pointer;
    color: #f1bb3b;
    background: #414040;
  }
  .bot-mobleP .port-up {
    display: none;
  }
  .logo-place {
    width: 100%;
    height: 11%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .logo-place .lo-go {
    width: 12%;
    height: 100%;
    margin-top: 0%;
  }
  .title {
    width: 100%;
    height: 11%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 2px solid white;
  }
  .title h1 {
    letter-spacing: 5px;
    color: #eeebeb;
    font-size: 41px;
    margin-bottom: 1%;
  }
}
/*# sourceMappingURL=Portfolio.css.map */