.sec {
  width: 100vw;
  height: 100vh;
}

.cover {
  width: 100%;
  height: 90%;
  background: #030303;
  margin-top: 2%;
  opacity: 0.8;
  border-top: 0.5px solid white;
  border-bottom: 0.5px solid white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  .projects {
    width: 100%;
    height: 64%;

    display: grid;
    grid-template-columns: repeat(auto-fit, 30%);
    grid-column-gap: 20px;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: auto;
    .pro {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      .JS {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        margin-top: 2%;
        border-top: 1px solid red;
        border-bottom: 1px solid red;
        h1 {
          color: white;
          font-size: 40px;
        }
      }
      .song-star {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        margin-top: 2%;
        border-top: 1px solid red;
        border-bottom: 1px solid red;
        h1 {
          color: white;
          font-size: 40px;
        }
      }
      .this-is-dev {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        margin-top: 2%;
        border-top: 1px solid red;
        border-bottom: 1px solid red;
        h1 {
          color: white;
          font-size: 35;
          text-align: center;
        }
      }
      .chat {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        margin-top: 2%;
        border-top: 1px solid red;
        border-bottom: 1px solid red;
        h1 {
          color: white;
          font-size: 40px;
        }
      }
      .song-star {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        margin-top: 2%;
        border-top: 1px solid red;
        border-bottom: 1px solid red;
        h1 {
          color: white;
          font-size: 40px;
        }
      }
      .this-is-dev {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        margin-top: 2%;
        border-top: 1px solid red;
        border-bottom: 1px solid red;
        h1 {
          color: white;
          font-size: 35;
          text-align: center;
        }
      }
      .headingKNM {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        margin-top: 2%;
        border-top: 1px solid red;
        border-bottom: 1px solid red;
        h1 {
          color: white;
          font-size: 40px;

          span {
            color: red;
          }
        }
      }

      p {
        display: block;
        color: white;
        font-size: 40px;
      }
      .slideshow {
        width: 100%;
        height: 30%;

        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10%;

        .icon {
          color: white;
        }
        .arrows {
          width: 25%;
          height: 25%;
        }
        .web-still-container {
          width: 80%;
          height: 100%;
          background: black;
          opacity: 1;

          img {
            width: 100%;
            height: 100%;
            border-radius: 5px;
          }
        }
      }
    }
  }
  .but {
    width: 100%;
    height: 9%;

    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 76%;
      height: 10%;
    }
  }
}
.logo-place {
  width: 100%;
  height: 11%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  .lo-go {
    width: 12%;
    height: 100%;
    margin-top: 0%;
  }
}

.title {
  width: 100%;
  height: 11%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid white;

  h1 {
    letter-spacing: 5px;
    color: white;
    font-size: 70px;
    margin-bottom: 1%;
  }
}
@media (min-width: 375px) {
  .sec {
    width: 100vw;
    height: 100vh;
  }

  .cover {
    width: 100%;
    height: 90%;
    background: #030303;
    margin-top: 2%;
    opacity: 0.8;
    border-top: 0.5px solid white;
    border-bottom: 0.5px solid white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    .projects {
      width: 100%;
      height: 64%;
      overflow-x: hidden;
      overflow-y: auto;
      display: flex;
      flex-direction: column;

      justify-content: space-evenly;
      .p2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;

        .headingKNM {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 60%;
          margin-top: 2%;
          border-top: 1px solid red;
          border-bottom: 1px solid red;
          h1 {
            color: white;
            font-size: 40px;
            span {
              color: red;
            }
          }
        }

        p {
          display: none;
          color: white;
          font-size: 40px;
        }
        .slideshow {
          width: 100%;
          height: 44%;

          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 0%;

          .icon {
            color: white;
          }
          .arrows {
            display: none;
            width: 25%;
            height: 25%;
          }
          .web-still-container {
            background: white;
            width: 72%;
            height: 100%;

            img {
              width: 100%;
              height: 100%;
              border-radius: 5px;
            }
          }
        }
      }
    }
    .but {
      width: 100%;
      height: 9%;

      display: none;
      justify-content: center;
      align-items: center;
      img {
        width: 76%;
        height: 10%;
      }
    }
  }
  .bot-mobleP {
    width: 100%;
    height: 9%;

    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 76%;
      height: 10%;
    }
  }
  .logo-place {
    width: 100%;
    height: 11%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .lo-go {
      width: 25%;
      height: 100%;
      margin-top: 0%;
    }
  }

  .title {
    width: 100%;
    height: 11%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid white;

    h1 {
      letter-spacing: 5px;
      color: white;
      font-size: 41px;
      margin-bottom: 1%;
    }
  }
}
@media (min-width: 1024px) {
  .sec {
    width: 100vw;
    height: 100vh;
  }

  .cover {
    width: 100%;
    height: 90%;
    background: #030303;
    margin-top: 2%;
    opacity: 0.8;
    border-top: 0.5px solid white;
    border-bottom: 0.5px solid white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    .projects {
      width: 100%;
      height: 64%;
      overflow-x: hidden;
      overflow-y: auto;
      display: flex;
      flex-direction: column;

      justify-content: space-evenly;
      .p2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;

        .headingKNM {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 60%;
          height: 25%;
          margin-top: 2%;
          border-top: 1px solid red;
          border-bottom: 1px solid red;
          h1 {
            color: white;
            font-size: 75px;
            span {
              color: red;
            }
          }
        }

        p {
          display: none;
          color: white;
          font-size: 40px;
        }
        .slideshow {
          width: 100%;
          height: 44%;

          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 0%;

          .icon {
            color: white;
          }
          .arrows {
            display: none;
            width: 25%;
            height: 25%;
          }
          .web-still-container {
            background: white;
            width: 68%;
            height: 100%;

            img {
              width: 100%;
              height: 100%;
              border-radius: 5px;
            }
          }
        }
      }
    }
    .but {
      width: 100%;
      height: 9%;

      display: none;
      justify-content: center;
      align-items: center;
      img {
        width: 76%;
        height: 10%;
      }
    }
  }
  .bot-mobleP {
    width: 100%;
    height: 9%;

    display: flex;
    justify-content: space-around;
    align-items: center;
    img {
      width: 100%;
      height: 10%;
    }
  }
  .logo-place {
    width: 100%;
    height: 11%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .lo-go {
      width: 25%;
      height: 100%;
      margin-top: 0%;
    }
  }

  .title {
    width: 100%;
    height: 11%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid white;

    h1 {
      letter-spacing: 5px;
      color: white;
      font-size: 41px;
      margin-bottom: 1%;
    }
  }
}
@media (min-width: 1280px) {
  .sec {
    width: 100vw;
    height: 100vh;
  }

  .cover {
    width: 100%;
    height: 90%;
    background: #030303;
    margin-top: 2%;
    opacity: 0.8;
    border-top: 0.5px solid white;
    border-bottom: 0.5px solid white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    .projects {
      width: 100%;
      height: 100%;

      display: grid;
      grid-template-columns: repeat(auto-fit, 30%);
      grid-column-gap: 20px;
      justify-content: center;

      .p2 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        .headingKNM {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 14%;
          margin-top: 2%;
          border-top: 1px solid red;
          border-bottom: 1px solid red;
          h1 {
            color: white;
            font-size: 40px;
            span {
              color: red;
            }
          }
        }

        p {
          display: block;
          color: white;
          font-size: 40px;
        }
        .slideshow {
          width: 100%;
          height: 34%;

          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 5%;

          .icon {
            color: white;
          }
          .arrows {
            width: 25%;
            height: 25%;
          }
          .web-still-container {
            width: 100%;
            height: 100%;

            img {
              width: 100%;
              height: 100%;
              border-radius: 5px;
            }
          }
        }
      }
    }
    .but {
      width: 100%;
      height: 9%;

      display: none;
      justify-content: center;
      align-items: center;
      img {
        width: 76%;
        height: 10%;
      }
    }
  }
  .bot-mobleP {
    width: 100%;
    height: 7%;

    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 77%;
      height: 100%;
    }
    .port-up {
      display: none;
    }
  }
  .logo-place {
    width: 100%;
    height: 11%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .lo-go {
      width: 12%;
      height: 100%;
      margin-top: 0%;
    }
  }

  .title {
    width: 100%;
    height: 11%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid white;

    h1 {
      letter-spacing: 5px;
      color: white;
      font-size: 41px;
      margin-bottom: 1%;
    }
  }
}
@media (min-width: 1360px) {
  .sec {
    width: 100vw;
    height: 100vh;
  }

  .cover {
    width: 100%;
    height: 90%;
    background: #030303;
    margin-top: 2%;
    opacity: 0.8;
    border-top: 0.5px solid white;
    border-bottom: 0.5px solid white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    .projects {
      width: 100%;
      height: 100%;

      display: grid;
      grid-template-columns: repeat(auto-fit, 30%);
      grid-column-gap: 20px;
      justify-content: center;

      .p2 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        .headingKNM {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 14%;
          margin-top: 2%;
          border-top: 1px solid red;
          border-bottom: 1px solid red;
          h1 {
            color: white;
            font-size: 40px;
            span {
              color: red;
            }
          }
        }

        p {
          display: block;
          color: white;
          font-size: 40px;
        }
        .slideshow {
          width: 100%;
          height: 34%;

          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 5%;

          .icon {
            color: white;
          }
          .arrows {
            width: 25%;
            height: 25%;
          }
          .web-still-container {
            width: 100%;
            height: 100%;

            img {
              width: 100%;
              height: 100%;
              border-radius: 5px;
            }
          }
        }
      }
    }
    .but {
      width: 100%;
      height: 9%;

      display: none;
      justify-content: center;
      align-items: center;
      img {
        width: 76%;
        height: 10%;
      }
    }
  }
  .bot-mobleP {
    width: 100%;
    height: 7%;

    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 77%;
      height: 100%;
    }
    .port-up {
      display: none;
    }
  }
  .logo-place {
    width: 100%;
    height: 11%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .lo-go {
      width: 12%;
      height: 100%;
      margin-top: 0%;
    }
  }

  .title {
    width: 100%;
    height: 11%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid white;

    h1 {
      letter-spacing: 5px;
      color: white;
      font-size: 41px;
      margin-bottom: 1%;
    }
  }
}
