.cover {
  width: 100%;
  height: 90%;
  background: #202020;

  border-top: 0.5px solid white;
  border-bottom: 0.5px solid white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  .projects {
    width: 100%;
    height: 77%;

    display: grid;
    grid-template-columns: repeat(auto-fit, 90%);
    grid-column-gap: 20px;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: auto;
    .pro {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      .timer-japan {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin-top: 2%;
        border-top: 2px solid #20c953;
        border-bottom: 2px solid #20c953;
        h1 {
          color: rgb(238, 235, 235);
          font-size: 48px;
          text-align: center;
          margin: 0%;
          .timer-link {
            text-decoration: none;
            color: rgb(238, 235, 235);
            &:hover {
              color: #20c953;
            }
          }
          .giti {
            width: 45px;
            height: 41px;
          }
        }
      }

      .this-is-dev {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin-top: 2%;
        border-top: 2px solid rgb(21, 58, 74);
        border-bottom: 2px solid #18333f;
        h1 {
          color: rgb(238, 235, 235);
          font-size: 40px;
          text-align: center;
          margin: 0%;
          .site-link {
            text-decoration: none;
            color: rgb(238, 235, 235);
          }
          .site-link:hover {
            color: rgba(46, 129, 207, 0.2);
          }
          .giti {
            width: 45px;
            height: 41px;
          }
        }
      }
      .xchange {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin-top: 2%;
        border-top: 2px solid #ffa142;
        border-bottom: 2px solid #ffa142;
        h1 {
          color: rgb(238, 235, 235);
          font-size: 45px;
          text-align: center;

          margin: 1% 0% 1% 0%;
          .site-link {
            text-decoration: none;
            color: rgb(238, 235, 235);
          }
          .site-link:hover {
            color: #ffa142;
          }
          .giti {
            width: 45px;
            height: 41px;
          }
        }
      }
      .email-archive {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin-top: 2%;
        border-top: 2px solid #fde000;
        border-bottom: 2px solid #f2af00;
        h1 {
          color: rgb(238, 235, 235);
          font-size: 45px;
          text-align: center;

          margin: 1% 0% 1% 0%;
          .archive-link {
            text-decoration: none;
            color: rgb(238, 235, 235);
          }
          .archive-link:hover {
            color: #f2af00;
          }
        }
        .giti {
          width: 45px;
          height: 41px;
        }
      }
      .walk-talk {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin-top: 2%;
        border-top: 2px solid white;
        border-bottom: 2px solid #47a8ff;
        h1 {
          color: rgb(238, 235, 235);
          font-size: 51px;
          text-align: center;
          margin: 0%;
        }
        .giti {
          width: 45px;
          height: 41px;
        }
      }

      .song-star {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin-top: 2%;
        border-top: 2px solid #fde000;
        border-bottom: 2px solid #f2af00;
        h1 {
          color: rgb(238, 235, 235);
          font-size: 44px;
          text-align: center;
          margin: 0%;
          .songstar-link {
            text-decoration: none;
            color: rgb(238, 235, 235);
          }
          .songstar-link:hover {
            color: #f2af00;
          }
        }
        .giti {
          width: 45px;
          height: 41px;
        }
      }
      .cam-mon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin-top: 2%;
        border-top: 2px solid #8bf282;
        border-bottom: 2px solid #15fad5;
        h1 {
          color: rgb(238, 235, 235);
          font-size: 45px;
          text-align: center;

          margin: 1% 0% 1% 0%;
          .cam-link {
            text-decoration: none;
            color: rgb(238, 235, 235);
          }
          .cam-link:hover {
            color: #15fad5;
          }
        }
        .giti {
          width: 45px;
          height: 41px;
        }
      }

      .headingKNM {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin-top: 2%;
        border-top: 2px solid red;
        border-bottom: 2px solid red;
        h1 {
          color: rgb(238, 235, 235);
          font-size: 40px;
          text-align: center;
          margin: 0%;

          span {
            color: red;
          }
          .kajinme {
            text-decoration: none;
            color: rgb(238, 235, 235);
            &:hover {
              color: red;
            }
          }

          .giti {
            width: 45px;
            height: 41px;
          }
        }
      }

      p {
        display: block;
        color: rgb(238, 235, 235);
        font-size: 20px;
        text-align: center;
        margin: 0;
      }
      .more {
        font-size: 19px;
        text-align: center;

        h5 {
          color: white;
          margin-top: 2%;
          margin-bottom: 1%;
        }
        h5:hover {
          font-size: 18px;
          cursor: pointer;
        }
      }
      .show {
        display: block;
        color: rgb(238, 235, 235);
        font-size: 16px;
        .less {
          font-size: 16px;
          text-align: center;
        }
        .less:hover {
          cursor: pointer;
          font-size: 18px;
        }
      }
      .hidden {
        display: none;
      }
      .slideshow {
        width: 100%;
        height: 30%;

        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10%;

        .icon {
          color: white;
        }
        .arrows {
          width: 25%;
          height: 25%;
        }
        .web-still-container {
          width: 80%;
          height: 100%;
          background: black;
          opacity: 1;

          img {
            width: 100%;
            height: 100%;
            border-radius: 5px;
          }
        }
      }
    }
  }
}
.bot-mobleP {
  width: 80%;
  height: 10%;
  background: #202020;
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    background: #202020;
    width: 100%;
    height: 100%;
    font-size: 30px;
    color: rgb(238, 235, 235);
    &:hover {
      cursor: pointer;
      color: rgb(241, 187, 59);
      background: #414040;
    }
  }
}
.logo-place {
  width: 100%;
  height: 11%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  .lo-go {
    width: 25%;
    height: 100%;
    margin-top: 0%;
  }
}

.title {
  width: 100%;
  height: 11%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid white;

  h1 {
    letter-spacing: 3px;
    color: rgb(238, 235, 235);
    font-size: 41px;
    margin-bottom: 1%;
  }
}

@media (min-width: 1024px) {
  .cover {
    .projects {
      width: 100%;
      height: 100%;

      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: 80%;
      grid-column-gap: 20px;
      grid-row-gap: 0px;
      justify-content: center;

      .pro {
        .timer-japan {
          h1 {
            font-size: 40px;

            .giti {
              width: 45px;
              height: 41px;
            }
          }
        }
        .xchange {
          h1 {
            font-size: 49px;

            .giti {
              width: 45px;
              height: 41px;
            }
          }
        }
        .email-archive {
          h1 {
            font-size: 45px;

            .giti {
              width: 45px;
              height: 41px;
            }
          }
        }

        .this-is-dev {
          h1 {
            font-size: 40px;

            .giti {
              width: 45px;
              height: 41px;
            }
          }
        }
        .walk-talk {
          h1 {
            font-size: 40px;
          }
          .giti {
            width: 45px;
            height: 41px;
          }
        }

        .song-star {
          h1 {
            font-size: 40px;
          }
          .giti {
            width: 45px;
            height: 41px;
          }
        }

        .headingKNM {
          h1 {
            font-size: 38px;

            span {
              color: red;
            }
            .giti {
              width: 45px;
              height: 41px;
            }
          }
        }
        .cam-mon {
          h1 {
            font-size: 49px;

            .giti {
              width: 45px;
              height: 41px;
            }
          }
        }
        p {
          font-size: 18px;
        }

        .more {
          font-size: 18px;

          h5 {
            color: rgb(238, 235, 235);
          }
          h5:hover {
            font-size: 18px;
          }
        }
        .show {
          font-size: 18px;
          .less {
            font-size: 18px;
          }
          .less:hover {
            font-size: 19px;
          }
        }
        .description-for-thisisdev {
          width: 88%;
          height: 46%;
          overflow-x: hidden;
          overflow-y: auto;
        }
        .description-for-xchange {
          width: 88%;
          height: 46%;
          overflow-x: hidden;
          overflow-y: auto;
        }
        .description-for-kanjinme {
          width: 88%;
          height: 46%;
          overflow-x: hidden;
          overflow-y: auto;
        }
        .description-for-songStar {
          width: 88%;
          height: 46%;
          overflow-x: hidden;
          overflow-y: auto;
        }
        .description-for-totalk {
          width: 88%;
          height: 46%;
          overflow-x: hidden;
          overflow-y: auto;
        }
        .description-for-countdown-timer {
          width: 88%;
          height: 46%;
          overflow-x: hidden;
          overflow-y: auto;
        }
        .description-for-camermonitor {
          width: 88%;
          height: 46%;
          overflow-x: hidden;
          overflow-y: auto;
        }
        .slideshow {
          width: 100%;
          height: 45%;
          .web-still-container {
            width: 90%;
          }
        }
      }
    }
  }
  .title {
    h1 {
      font-size: 65px;
    }
  }
  .bot-mobleP {
    button {
      font-size: 60px;
    }
  }
}
@media (min-width: 1280px) {
  .cover {
    width: 100%;
    height: 90%;
    background: #202020;

    border-top: 0.5px solid white;
    border-bottom: 0.5px solid white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    .projects {
      width: 100%;
      height: 100%;

      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: 80%;
      grid-column-gap: 20px;
      grid-row-gap: 0px;
      justify-content: center;

      .pro {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        .headingKNM {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 14%;
          margin-top: 2%;
          border-top: 1px solid red;
          border-bottom: 1px solid red;
          h1 {
            color: rgb(238, 235, 235);
            font-size: 40px;
            span {
              color: red;
            }
          }
        }

        p {
          display: block;
          color: rgb(238, 235, 235);
          font-size: 40px;
        }
        .slideshow {
          width: 100%;
          height: 50%;

          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 5%;

          .icon {
            color: white;
          }
          .arrows {
            width: 25%;
            height: 25%;
          }
          .web-still-container {
            width: 100%;
            height: 100%;

            img {
              width: 100%;
              height: 100%;
              border-radius: 5px;
            }
          }
        }
        .more {
          font-size: 20px;

          h5:hover {
            font-size: 18px;
          }
        }
        .show {
          font-size: 17px;
          .less {
            font-size: 18px;
          }
          .less:hover {
            font-size: 18px;
          }
        }
        .description-for-thisisdev {
          width: 88%;
          height: 46%;
          overflow-x: hidden;
          overflow-y: auto;
        }
        .description-for-archive {
          width: 88%;
          height: 46%;
          overflow-x: hidden;
          overflow-y: auto;
        }
        .description-for-kanjinme {
          width: 88%;
          height: 46%;
          overflow-x: hidden;
          overflow-y: auto;
        }
        .description-for-songStar {
          width: 88%;
          height: 46%;
          overflow-x: hidden;
          overflow-y: auto;
        }
        .description-for-totalk {
          width: 88%;
          height: 46%;
          overflow-x: hidden;
          overflow-y: auto;
        }
        .description-for-countdown-timer {
          width: 88%;
          height: 46%;
          overflow-x: hidden;
          overflow-y: auto;
        }
        .description-for-camermonitor {
          width: 88%;
          height: 46%;
          overflow-x: hidden;
          overflow-y: auto;
        }
      }
    }
    .but {
      width: 100%;
      height: 10%;

      display: none;
      justify-content: center;
      align-items: center;
      button {
        background: #202020;
        width: 100%;
        height: 100%;
        font-size: 30px;
        color: rgb(238, 235, 235);
        &:hover {
          cursor: pointer;
          color: rgb(241, 187, 59);
          background: #414040;
        }
      }
    }
  }
  .bot-mobleP {
    width: 80%;
    height: 10%;
    background: #202020;
    display: flex;
    justify-content: center;
    align-items: center;
    button {
      background: #202020;
      width: 100%;
      height: 100%;
      font-size: 30px;
      color: rgb(238, 235, 235);
      &:hover {
        cursor: pointer;
        color: rgb(241, 187, 59);
        background: #414040;
      }
    }
    .port-up {
      display: none;
    }
  }
  .logo-place {
    width: 100%;
    height: 11%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .lo-go {
      width: 12%;
      height: 100%;
      margin-top: 0%;
    }
  }

  .title {
    width: 100%;
    height: 11%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid white;

    h1 {
      letter-spacing: 5px;
      color: rgb(238, 235, 235);
      font-size: 41px;
      margin-bottom: 1%;
    }
  }
}
@media (min-width: 1360px) {
  .cover {
    width: 80%;
    height: 90%;

    background: #202020;

    border-top: 0.5px solid white;
    border-bottom: 0.5px solid white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    .projects {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: 80%;
      grid-column-gap: 20px;
      grid-row-gap: 0px;
      justify-content: center;

      .pro {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        .timer-japan {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 87%;
          height: 14%;
          margin-top: 2%;
          border-top: 2px solid #20c953;
          border-bottom: 2px solid #20c953;
          h1 {
            margin: 0%;
            color: rgb(238, 235, 235);
            font-size: 40px;
            img {
              width: 40px;
              height: 40px;
              margin-left: 10px;
            }
            img:hover {
              cursor: pointer;
            }
          }
        }

        .this-is-dev {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 87%;
          height: 14%;
          margin-top: 2%;
          border-top: 2px solid #25aae1;
          border-bottom: 2px solid #25aae1;
          h1 {
            margin: 0%;
            color: rgb(238, 235, 235);
            font-size: 40px;
            text-align: center;
            img {
              width: 40px;
              height: 40px;
              margin-left: 10px;
            }
            img:hover {
              cursor: pointer;
            }
          }
        }
        .description-for-thisisdev {
          width: 88%;
          height: 28%;
          overflow-x: hidden;
          overflow-y: auto;
        }
        .description-for-archive {
          width: 88%;
          height: 28%;
          overflow-x: hidden;
          overflow-y: auto;
        }
        .description-for-kanjinme {
          width: 88%;
          height: 28%;
          overflow-x: hidden;
          overflow-y: auto;
        }
        .description-for-songStar {
          width: 88%;
          height: 28%;
          overflow-x: hidden;
          overflow-y: auto;
        }
        .description-for-totalk {
          width: 88%;
          height: 28%;
          overflow-x: hidden;
          overflow-y: auto;
        }
        .description-for-countdown-timer {
          width: 88%;
          height: 28%;
          overflow-x: hidden;
          overflow-y: auto;
        }

        .walk-talk {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 87%;
          height: 14%;
          margin-top: 2%;
          border-top: 2px solid white;
          border-bottom: 2px solid #47a8ff;
          h1 {
            color: rgb(238, 235, 235);
            font-size: 40px;
            img {
              width: 40px;
              height: 40px;
              margin-left: 10px;
            }
            img:hover {
              cursor: pointer;
            }
          }
        }
        .song-star {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 87%;
          height: 14%;
          margin-top: 2%;
          border-top: 2px solid #fde000;
          border-bottom: 2px solid #f2af00;
          h1 {
            color: rgb(238, 235, 235);
            font-size: 40px;
            img {
              width: 40px;
              height: 40px;
              margin-left: 10px;
            }
            img:hover {
              cursor: pointer;
            }
          }
        }
        .headingKNM {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 87%;
          height: 14%;
          margin-top: 2%;
          border-top: 2px solid red;
          border-bottom: 2px solid red;
          h1 {
            color: rgb(238, 235, 235);
            font-size: 40px;
            span {
              color: red;
            }
            img {
              width: 40px;
              height: 40px;
              margin-left: 10px;
            }
            img:hover {
              cursor: pointer;
            }
          }
        }
        .more {
          font-size: 16px;
          text-align: center;
          h5 {
            margin-top: 2%;
            margin-bottom: 1%;
          }
          h5:hover {
            font-size: 18px;
            cursor: pointer;
          }
        }
        .show {
          display: block;
          color: rgb(238, 235, 235);
          font-size: 16px;
          .less {
            font-size: 16px;
            text-align: center;
          }
          .less:hover {
            cursor: pointer;
            font-size: 18px;
          }
        }
        .hidden {
          display: none;
        }
        .slideshow {
          width: 88%;
          height: 44%;
          background-color: black;
          opacity: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 5%;

          .icon {
            color: white;
          }
          .arrows {
            width: 25%;
            height: 25%;
          }
          .web-still-container {
            width: 100%;
            height: 100%;

            img {
              width: 100%;
              height: 100%;
              box-shadow: 0px 0px 0px black;
              border-radius: 5px;
            }
          }
        }
      }
    }
    .but {
      width: 100%;
      height: 10%;

      display: none;
      justify-content: center;
      align-items: center;
      button {
        background: #202020;
        width: 100%;
        height: 100%;
        font-size: 30px;
        color: rgb(238, 235, 235);
        &:hover {
          cursor: pointer;
          color: rgb(241, 187, 59);
          background: #414040;
        }
      }
    }
  }
  .bot-mobleP {
    width: 80%;
    height: 10%;
    background: #202020;
    display: flex;
    justify-content: center;
    align-items: center;
    button {
      background: #202020;
      width: 100%;
      height: 100%;
      font-size: 30px;
      color: rgb(238, 235, 235);
      &:hover {
        cursor: pointer;
        color: rgb(241, 187, 59);
        background: #414040;
      }
    }
    .port-up {
      display: none;
    }
  }
  .logo-place {
    width: 98%;
    height: 11%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .lo-go {
      width: 12%;
      height: 100%;
      margin-top: 0%;
    }
  }

  .title {
    width: 100%;
    height: 11%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid white;

    h1 {
      letter-spacing: 5px;
      color: rgb(238, 235, 235);
      font-size: 41px;
      margin-bottom: 1%;
    }
  }
}
