.sec {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.cover {
  width: 80%;
  height: 90%;
  background: #202020;

  border-top: 0.5px solid white;
  border-bottom: 0.5px solid white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  .but {
    width: 100%;
    height: 9%;

    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 76%;
      height: 10%;
    }
  }
}
.bot-mobleR {
  width: 80%;
  height: 10%;
  background: #202020;
  display: none;
  justify-content: center;
  align-items: center;
  img {
    width: 76%;
    height: 10%;
  }
}
.logo-place {
  width: 100%;
  height: 11%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  .lo-go {
    width: 12%;
    height: 100%;
    margin-top: 0%;
  }
}

.title {
  width: 100%;
  height: 11%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid white;

  h1 {
    letter-spacing: 5px;
    color: rgb(238, 235, 235);
    font-size: 71px;
    margin-bottom: 1%;
  }
}

.hold {
  width: 100%;
  height: 70%;
  margin-top: 1%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
@mixin even {
  height: 100%;
  width: 33%;
}
@mixin textColor {
  color: rgb(238, 235, 235);
}
.left {
  @include even();
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  overflow-y: auto;
  direction: rtl;

  h1,
  h2,
  h3,
  ul,
  li {
    @include textColor();
    direction: ltr;
    margin-left: 6.8%;
  }
}

.skills {
  @include even();
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 87%;
    height: 79%;
  }
}
.right {
  @include even();
  overflow-y: auto;

  h1,
  h2,
  h3,
  ul,
  li {
    @include textColor();
  }
}
.portres {
  @include even();
  overflow-y: auto;
  display: none;
  h1,
  h2,
  h3,
  ul,
  li {
    @include textColor();
  }
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  display: none;
}
::-webkit-scrollbar-thumb {
  background: white;
  width: 5px;
  border-radius: 15px;
}
@media (min-width: 375px) {
  .sec {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    .but {
      width: 100%;
      height: 9%;

      display: none;
      justify-content: center;
      align-items: center;
      img {
        width: 76%;
        height: 10%;
      }
    }
  }

  .cover {
    width: 80%;
    height: 90%;
    background: #202020;

    border-top: 0.5px solid white;
    border-bottom: 0.5px solid white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .bot-mobleR {
    width: 80%;
    height: 10%;

    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 76%;
      height: 10%;
    }
  }
  .logo-place {
    width: 100%;
    height: 11%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .lo-go {
      width: 25%;
      height: 100%;
      margin-top: 0%;
    }
  }

  .title {
    width: 100%;
    height: 11%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid white;

    h1 {
      letter-spacing: 5px;
      color: rgb(238, 235, 235);
      font-size: 41px;
      margin-bottom: 1%;
    }
  }

  .hold {
    width: 100%;
    height: 77%;
    margin-top: 1%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  @mixin even {
    height: 100%;
    width: 100%;
  }
  @mixin textColor {
    color: rgb(238, 235, 235);
  }
  .left {
    @include even();
    display: none;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    overflow-y: auto;
    direction: rtl;

    h1,
    h2,
    h3,
    ul,
    li {
      @include textColor();
      direction: ltr;
      margin-left: 6.8%;
    }
  }

  .skills {
    @include even();
    display: none;
    justify-content: center;
    align-items: center;

    img {
      width: 87%;
      height: 79%;
    }
  }
  .right {
    @include even();
    overflow-y: auto;
    display: none;
    h1,
    h2,
    h3,
    ul,
    li {
      @include textColor();
    }
  }
  .portres {
    @include even();
    overflow-y: auto;
    display: block;
    h1,
    h2,
    h3,
    ul,
    li {
      @include textColor();
    }
  }
}
@media (min-width: 1024px) {
  .sec {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    .but {
      width: 100%;
      height: 9%;

      display: none;
      justify-content: center;
      align-items: center;
      img {
        width: 76%;
        height: 10%;
      }
    }
  }

  .cover {
    width: 100%;
    height: 90%;
    background: #202020;

    border-top: 0.5px solid white;
    border-bottom: 0.5px solid white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .bot-mobleR {
    width: 80%;
    height: 10%;
    background: #202020;
    display: flex;
    justify-content: space-around;
    align-items: center;
    img {
      width: 100%;
      height: 10%;
    }
  }
  .logo-place {
    width: 100%;
    height: 11%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .lo-go {
      width: 25%;
      height: 100%;
      margin-top: 0%;
    }
  }

  .title {
    width: 100%;
    height: 11%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid white;

    h1 {
      letter-spacing: 5px;
      color: rgb(238, 235, 235);
      font-size: 70px;
      margin-bottom: 1%;
    }
  }

  .hold {
    width: 100%;
    height: 70%;
    margin-top: 1%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  @mixin even {
    height: 100%;
    width: 100%;
  }
  @mixin textColor {
    color: rgb(238, 235, 235);
  }
  .left {
    @include even();
    display: none;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    overflow-y: auto;
    direction: rtl;

    h1,
    h2,
    h3,
    ul,
    li {
      @include textColor();
      direction: ltr;
      margin-left: 6.8%;
    }
  }

  .skills {
    @include even();
    display: none;
    justify-content: center;
    align-items: center;

    img {
      width: 87%;
      height: 79%;
    }
  }
  .right {
    @include even();
    overflow-y: auto;
    display: none;
    h1,
    h2,
    h3,
    ul,
    li {
      @include textColor();
    }
  }
  .portres {
    @include even();
    overflow-y: auto;
    display: block;
    h1,
    h2,
    h3,
    ul,
    li {
      @include textColor();
      font-size: 41px;
    }
  }
}
@media (min-width: 1280px) {
  .sec {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    .but {
      width: 100%;
      height: 9%;

      display: none;
      justify-content: center;
      align-items: center;
      img {
        width: 70%;
        height: 10%;
      }
    }
  }

  .cover {
    width: 100%;
    height: 90%;
    background: #202020;

    border-top: 0.5px solid white;
    border-bottom: 0.5px solid white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .bot-mobleR {
    width: 80%;
    height: 10%;
    background: #202020;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 77%;
      height: 100%;
    }
    .up-res {
      display: none;
    }
  }
  .logo-place {
    width: 100%;
    height: 11%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .lo-go {
      width: 12%;
      height: 100%;
      margin-top: 0%;
    }
  }

  .title {
    width: 100%;
    height: 11%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid white;

    h1 {
      letter-spacing: 5px;
      color: rgb(238, 235, 235);
      font-size: 68px;
      margin-bottom: 1%;
    }
  }

  .hold {
    width: 100%;
    height: 70%;
    margin-top: 1%;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  @mixin even {
    height: 108%;
    width: 100%;
  }
  @mixin textColor {
    color: rgb(238, 235, 235);
  }
  .left {
    @include even();
    display: block;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    overflow-y: auto;
    direction: rtl;

    h1,
    h2,
    h3,
    ul,
    li {
      @include textColor();
      direction: ltr;
      margin-left: 6.8%;
    }
  }

  .skills {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
      height: 56%;
    }
  }
  .right {
    @include even();
    overflow-y: auto;
    display: block;
    h1,
    h2,
    h3,
    ul,
    li {
      @include textColor();
    }
  }
  .portres {
    @include even();
    overflow-y: auto;
    display: none;
    h1,
    h2,
    h3,
    ul,
    li {
      @include textColor();
      font-size: 41px;
    }
  }
}
@media (min-width: 1360px) {
  .sec {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    .but {
      width: 100%;
      height: 9%;

      display: none;
      justify-content: center;
      align-items: center;
      img {
        width: 70%;
        height: 10%;
      }
    }
  }

  .cover {
    width: 80%;
    height: 90%;
    background: #202020;

    border-top: 0.5px solid white;
    border-bottom: 0.5px solid white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .bot-mobleR {
    width: 80%;
    height: 10%;
    background: #202020;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 77%;
      height: 100%;
    }
    .up-res {
      display: none;
    }
  }
  .logo-place {
    width: 100%;
    height: 11%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .lo-go {
      width: 12%;
      height: 100%;
      margin-top: 0%;
    }
  }

  .title {
    width: 100%;
    height: 11%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid white;

    h1 {
      letter-spacing: 5px;
      color: rgb(238, 235, 235);
      font-size: 68px;
      margin-bottom: 1%;
    }
  }

  .hold {
    width: 100%;
    height: 70%;
    margin-top: 1%;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  @mixin even {
    height: 108%;
    width: 100%;
  }
  @mixin textColor {
    color: rgb(238, 235, 235);
  }
  .left {
    @include even();
    display: block;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    overflow-y: auto;
    direction: rtl;

    h1,
    h2,
    h3,
    ul,
    li {
      @include textColor();
      direction: ltr;
      margin-left: 6.8%;
    }
  }

  .skills {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
      height: 49%;
    }
  }
  .right {
    @include even();
    overflow-y: auto;
    display: block;
    h1,
    h2,
    h3,
    ul,
    li {
      @include textColor();
    }
  }
  .portres {
    @include even();
    overflow-y: auto;
    display: none;
    h1,
    h2,
    h3,
    ul,
    li {
      @include textColor();
      font-size: 41px;
    }
  }
}
