.headerr {
  width: 36%;
  height: 40%;
  display: none;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 0.8%;
}

@media (min-width: 1280px) {
  .headerr {
    width: 36%;
    height: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 0.8%;

    .off {
      text-decoration: none;
      color: rgb(112, 111, 111);
      display: inline-block;
      margin: 1%;
      font-size: 25px;
    }
    .contact-off {
      color: rgb(241, 187, 59);
    }
    .on {
      text-decoration: none;
      color: rgb(238, 235, 235);
      display: inline-block;
      margin: 0.5%;
      font-size: 31px;
    }
    .contact-on {
      color: rgb(237, 172, 21);
    }
    .out {
      display: none;
    }
  }
}
